.credentials-separator {
    border-top: 2px solid lightgray;
    margin: 6px auto;
    width: 100%;
}

.play-button-wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
}

.play-button {
    margin: auto;
}